<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Video Player</title>
    <link rel="icon" href="favicon.svg">
    <ImportMap />
</head>
<body>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" />
        </Found>
    </Router>
</body>
</html>