on:
  workflow_dispatch:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  publish_docker:
    runs-on: ubuntu-latest
    permissions:
        contents: read
        packages: write
    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
      - name: Log in to Docker
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create image
        run: dotnet publish Meziantou.OnlineVideoPlayer/Meziantou.OnlineVideoPlayer.csproj --os linux --arch x64 --configuration Release /t:PublishContainer /bl:publish.binlog
      - name: Upload binlog
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: binlog
          path: "**/*.binlog"
